  background: #3095ce;
  width: auto;
  padding: 10px 30px;
  height: 50px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.05em;
  font-weight: 300;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  font-size: 16px;
  text-transform: uppercase;
