<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 content-wrapper">
        <div class="logo-sico">
          <img src="res/logo-header.svg" alt="" />
        </div>
        <fieldset>
          <legend id="title-1">
            <span class="step-heading">ACCESO DENEGADO O PARÁMETROS NO SUMINISTRADOS</span>

          </legend>

          <div class="wrapper-step">
            <div class="row">
              <!-- Paso 1: Elección proyecto -->
              <div class="col-12">
                <span class="step-number">

                </span>
                <span class="form-label">
                  <ol>
                    <li type="disc">
                      Verifique su configuración y el llamado al simulador.
                    </li>
                    <li type="disc">
                      Rectifique el código de su compañía y compruebe que está siendo enviado correctamente.
                    </li>
                    <li type="disc">
                      Si el inconveniente persiste contacte a su asesor de soporte para obtener asistencia técnica
                      durante la configuración.
                    </li>
                  </ol>
                </span>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>
